.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 7px 50px 50px 50px;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: Arial, sans-serif;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 50px;
    color: #555;
}

.form_header{
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    padding: 0;
}

form{
    margin-top: 20px;
}

.formGroup {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

input {
    width: 92%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.submitButton {
    background-color: #007bff;
    color: white;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: block;
    width: 100%;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #007bff;
}

.submitButton:active {
    background-color: #007bff;
}

.cancelButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    width: 48%;
    margin-right: 4%;
}

.cancelButton:hover {
    background-color: #218838;
}

.cancelButton:active {
    background-color: #1e7e34;
}

.error {
    color: red; /* Red text color for error messages */
    margin-bottom: 12px;
    font-size: 14px;
}
